<app-menu></app-menu>

<br>

<div class="container">

  <h1>{{title}}</h1>

  <button class="btn btn-success" (click)="showAddForm = !showAddForm">Add task</button>
  <br>
  <br>

  <form *ngIf="showAddForm">
    <div class="form-group">
      <label for="name">id</label>
      <input type="text" id="id" name="id" class="form-control" disabled [(ngModel)]="id">
    </div>
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="time">Time</label>
      <input type="number" id="time" name="time" class="form-control" [(ngModel)]="time">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="status" name="status" [(ngModel)]="status">
      <label class="form-check-label" for="status">Статус</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="saveTask(id, name, time, status)">Сохранить</button>

<!--    <pre>-->
<!--      <div>name = {{name}}</div>-->
<!--      <div>time = {{time}}</div>-->
<!--      <div>status = {{status}}</div>-->
<!--    </pre>-->

  </form>

    <div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks; let i=index">
          <th scope="row">{{task.id}}</th>
          <td>{{task.name}}</td>
          <td>{{task.time}}</td>
          <td>{{task.status}}</td>
          <td>
            <button class="btn btn-info mr-2" (click)="updateTask(task.id)">Обновить</button>
            <button class="btn btn-danger" (click)="removeTask(i)">Удалить</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

</div>
